@import '../../index.scss';

.container:link,
.container:visited {
    border: 2px solid $sec-font-color;
    padding: 2rem 4rem;
    width: 100%;
    @include flexbox(row, center, space-between);
    max-width: 100rem;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 12px -3px gray;
    min-width: 65rem;
}

.container:active,
.container:hover {
    background-color: #333;
}

.name {
    font-size: 2.2rem;
    color: $main-font-color;
}

.container-left {
    @include flexbox(column, flex-start, flex-start, 2rem);
    min-width: 40rem;
}

.ingredients-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    font-size: 1.8rem;
    color: $helper-font-color;
    gap: 2rem;
}

.ingredient-container {
    @include flexbox(column, flex-start, center, 1rem);
}

.ingredient-quantity {
    font-size: 1.5rem;
}

.price-container {
    @include flexbox();
    font-size: 3rem;
    color: $navbar-sec-color;
    min-width: 16.5rem;
}

@media (max-width: 768px) {
    .container:link,
    .container:visited {
        width: 100%;
        flex-direction: column;
        min-width: unset;
        gap: 3rem;
    }

    .container-left {
        min-width: unset;
        width: 100%;
    }

    .ingredients-container {
        grid-template-columns: repeat(3, auto);
    }

    .price-container {
        align-self: flex-start;
        justify-content: flex-start;
    }
}
