@import '../../index.scss';

.button-container {
    align-self: flex-start;
    @include flexbox(column);

    .upper-button-container,
    .lower-button-container {
        width: 100%;
        @include flexbox(row, stretch, space-between);

        button {
            background-color: $sec-font-color;
            padding: 2rem;
            font-size: 2rem;
            border: none;
            color: #fff;
            border: 2px solid $sec-font-color;
            width: 20rem;
            cursor: pointer;
            line-height: 2.5rem;
        }

        .active {
            box-shadow: 2px 5px 15px 5px $main-font-color-dark;
        }
    }
}

@media (max-width: 1024px) {
    .button-container {
        width: 100%;

        .upper-button-container {
            flex-direction: column;
            width: 100%;
            align-items: center;

            button {
                width: 75%;
                height: 6rem;
                @include flexbox(row);
                font-size: 1.8rem;
                max-width: 50rem;
            }
        }
    }
}
