@import '../../index.scss';

.container {
    flex: 1;
    padding: 4rem 2rem;
    align-self: center;
    @include flexbox(column, center, flex-start);
    width: 90%;
}

.inner-container {
    width: 100%;
    max-width: 100rem;
    align-self: center;
    @include flexbox(column, flex-start, flex-start);
}
